/* CSS pour la mise en page */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000270;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 5px #000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    text-align: center;
    margin-top: 50px;
}

.ligne {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rangDroite {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.rangGauche {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
    width: 100%;
}
