{% extends 'base.html.twig' %}

{% block title %}Hello GestionCongreController!
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/form.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="container flex-grow-1 d-flex justify-content-center align-items-center">
		<div class="card w-100">
			<div class="card-body">
				<div class="row justify-content-center align-items-center h-100">

					<div class="col-md-6">
						{% include "gestion_congre/menu.html.twig"|upper %}
					</div>
					<div class="col-md-6" id="list-menu">
						<div id="notif-info">
							{% for flash in app.flashes('success') %}
								<div class="alert alert-success w-100" id="notif-info">{{ flash }}</div>
							{% endfor %}
							{% if errors is defined and errors|length > 0 %}
								<div class="alert alert-danger">
									{% for error in errors %}
										<p>{{ error }}</p>
									{% endfor %}
								</div>
							{% endif %}
						</div
						{% include "gestion_congre/form/vacationForm.html.twig" %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
