{% extends 'base.html.twig' %}

{% block title %}Hello GestionCongreController!
{% endblock %}

{% block body %}
	<div class="container flex-grow-1">
		<div class="row justify-content-center align-items-center h-100">
			<div class="card">
				<div class="card-body">
                <div class="col-md-6">
                        {% include "gestion_congre/mennu.html.twig" %}
                </div>
					<div class="col-md-6">
						{% include "gestion_congre/atelierForm.html.twig" %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
