{% extends 'base.html.twig' %}

{% block title %}Maison des ligues
{% endblock %}

{% block body %}
	{# <link rel="stylesheet" href="{{ asset('css/menu/style.css') }}"> #}
	<section>
		<div class="ligne">
			<div class="rangGauche">
				<h1>Le 7 et 8 Septembre 2024</h1>
				<img src="{{ asset('img/affiche') }}" ald="Affiche du congrès">
				<p>Le programme du congrès est en cours de préparation. Il sera disponible prochainement.</p>
			</div>
			<div class="rangDroite">
				<h2>Informations Hébergement et restauration</h2>
				<div class="hotel">
                    <h2>Ibis Styles Lille Centre Gare Beffroi 3 étoiles</h2>
                    <ul>
                        <li>Adresse: 172 rue de Paris, 59000 Lille</li>
                        <li>Téléphone: 03 20 30 61 61</li>
                        <li>Site internet: <a href="https://all.accor.com/ssr/app/accor/rates/1384/index.fr.shtml?dateIn=2023-09-
08&nights=2&compositions=1&stayplus=false&snu=false&accessibleRooms=false&destinati
on=">Ibis Styles Lille Centre Gare Beffroi</a></li>
                        <ul><p>Tarif négociés  par nuit:</p>
                            <li>Chambre simple: 95€</li>
                            <li>Chambre double: 105€</li>
                        </ul>
                    </ul>
                </div>
                <div class="hotel">
                    <h2>Ibis budget Lille Centre</h2>
                    <ul>
                        <li>Adresse: 172 rue de Paris, 59000 Lille</li>
                        <li>Téléphone: 03 20 30 61 61</li>
                        <li>Site internet: <a href="https://www.accorhotels.com/fr/hotel-7548-ibis-styles-lille-centre-gare-beffroi/index.shtml">Ibis Styles Lille Centre Gare Beffroi</a></li>
                        <ul><p>Tarif négociés  par nuit:</p>
                            <li>Chambre simple: 70€</li>
                            <li>Chambre double: 80€</li>
                        </ul>
                    </ul>
                </div>
                <h3>Tarif repas : </h3>
                <ul>
                    <li>Repas accompagnant: 38€</li>
                    <li>Note: Repas offert pour les inscrit.</li>
                </ul>
                <div class="reservation">
                    <h2>Réservation possible pour :</h2>
                    <p class="badge">Samedi Midi</p>
                    <p class="badge">Samedi Soir</p>
                    <p class="badge">Dimanche Midi</p>
                </div>
				<p>Le congrès est ouvert à tous les professionnels du secteur du sport et de l'animation.</p>
			</div>
		</div>
	</section>
{% endblock %}
